@mixin mobile-design {
    background-image: url('../images/bg-mobile.svg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $primary-color;
}

@mixin main{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    color: #eee;
        
}

@mixin desktop-design{
    &{
        background-image: url('../images/bg-desktop.svg');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        background-color: $primary-color;
        height: 100vh;
    }
    .logo{
        margin-top: 1rem;
        margin-left:6rem;
        width:11.2rem;
        height: 7rem;
    }
    .main {
        flex-flow: row nowrap;
        margin-top: -1.94rem;
        &__image{
            margin-left: 6rem;
            width: 37.5rem;
            height: 25rem;
        }
        &__blockquote{
            width: 400px;
            margin-left: 20px;
            text-align: left;
            &__head{
                
            }
            &__text{
                font-size: 15px;
                line-height: 18px;
            }

        }

    
    }
    .share{
        float: right;
        margin-right: 9rem;
        margin-top: 3.75rem;
    }
   

}