/*
SCSS code by bobby-crooz
free to copy by anyone.
fully implementing BEM convention
*/

// importing external font-links and partials

@import url('https://fonts.googleapis.com/css2?family=Poppins') ;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans') ;
@import '_variables' ;
@import '_mixins' ;

// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// demacations
.a{ border:0.5px solid yellow ;}
.b{ border:0.5px solid orange ;}

body .container {
    @include mobile-design ;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    
    .logo{
        margin-left: 70px;
        width: 110px;
        height: 70px;
    }
    .main{
        @include main;
        align-self: center;
        &__image{
           margin-top: 50px;
           width: 350px;
        }
        &__blockquote{
            width: 350px;
            height: 100%;
            text-align: center;
            margin-top: 50px;           
            &__head{
                font-family: $poppins;
                font-weight: $fw-7;
                font-size: 20px;
                line-height: 37px;
            }
            &__text{
                font-family: $openSans;
                font-weight: $fw-4;
                line-height: 23px;
                margin-top: 20px;                
                font-size: 19px;
            }
            &__submit{
                width: 160px;
                padding: 9px;
                border-radius: 20px;
                text-align: center;
                color: #333;
                border:none;
                margin-top: 25px;
                box-shadow: 0 0.125rem 0.95rem -0.32rem rgba(17, 17, 17, 0.74) ;
            }
            
        }
       
    }
    .share{
        display: flex;
        margin-top: 4.625rem;
        margin-left: 10.3rem;
        margin-bottom: 5rem;
        width: 9.3754rem;
        &__icon{
            border:1px solid #eee;
            border-radius: 50%;
            margin-left: 8px;
            padding: 9px;
            width: 40px;
            text-align: center;
            color: #eee;
            
            
        }
    }

    @media screen and (min-width:600px) {
       @include desktop-design ;
    }
}

